.navbar-main{
    margin-bottom: 0;
    border-radius: 0;
}
.bg-primary.page-title h4{
    margin:0;
}
.page-content{
    margin-top:10px;
}
.add-new, .page-title{
    padding:10px;
    margin-bottom:15px;
}
form.remove-item-form{
    display: inline-block;
    margin:0;
    padding: 0;
}

