#big-daddy{
    padding-bottom: 70px;
}

.modal-footer .btn + .btn {
    margin-right: 5px;
}

/* navigation top */


.navbar-top {
    background: #272F35;
    color: #E9FAFC;
    padding: 10px 0 0;
}
.navbar-top a {
    color: #E9FAFC !important;
}
.navbar-top ul {
    padding-right: 0;
}
.navbar {
    border-bottom: 3px solid #DEE6E6;
}
.navbar-brand {
    padding: 18px 15px;
    font-weight: 600;
}

.navbar-static-top {
    background-color: #1355A3;
    margin-bottom: 0;
    border-top: 1px solid #1D6CCA;
    border-bottom: 1px solid #1D6CCA;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.45);
}
.navbar-static-top .navbar-nav > li > a {
    color: #E9FAFC !important;
}

.navbar-static-top .navbar-brand {
    padding: 5px 0 5px 15px !important;
    color: #E9FAFC !important;
    margin-left: 10px !important;
}
.navbar-static-top .navbar-brand .logo {
    font-size: 30px;
}
.navbar-static-top .contact-info {
    color: #fff;
    text-align: center;
    margin: 10px 40px 0 0;
}


.nav-justified  a, .nav-justified a:hover {
    background: transparent !important;
    line-height: 50px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-weight: bold;
    min-height: 58px !important;
    text-align: center;
    color: #fff !important;
    background-color: transparent;
    border-right:1px solid #1D6CCA;
}

.nav-justified li:last-child a{border-left:1px solid #1D6CCA}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    padding-top:8px !important;
}
/* end navigation top */


.right-side-bar{
    border-left:1px solid #ddd;
}

.panel-body .project-item-thumb{
    margin-bottom: 0px;
}
.content-page{
    margin-top:40px;
}


/* project slider */
.carousel-control {
    background-image: none !important;
}
.project-slider{
    position: relative;
    margin-bottom:120px;
}
.thumbnail-wrapper{
    position:absolute;
    z-index: 1030;
    margin:0;
    padding:0;
    width:100%;
    text-align: center;
    bottom:-110px;
    height:100px;
}


.thumbnail-item{
    display: inline-block;
    margin: 0 1px 2px;
    cursor:pointer;
    width:70px;
    height:40px;
    overflow: hidden;

}
.thumbnail-item img{
    width:100%;
}
.thumbnail-item-new{
    min-width: 70px;
    height:40px;
    background: #ccc;
}
/* end project slider */

/* project editor */
.editable-field{
    position: relative;
    border:1px solid transparent;
}
.editable-field .edit-handler{
    display: none;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    height: 100%;
    width:30px;
    background: #e1e1e1;
    text-align: center;
    font-size:18px !important;
}
.editable-field:hover{
    border:1px solid #428bca;
}

.editable-field:hover .edit-handler{
    display: block;
}

.edit-modal-textarea{
    min-height: 150px;
    resize: none;
}

.avatar-holder{
    padding:5px;
}
.avatar-holder img {
    width:100%;
}
.avatar-wrap{
    position: relative;
}
.change-avatar{
    position:absolute;
    width:30px;
    height:20px;
    padding:5px;
    bottom:0px;
    right:0px;
    background: #fff url('../images/camera.png') 5px 5px no-repeat;
}
.avatar-holder .caption{
    text-align: center;
}
/* end project editor */
.admin-preview{
    max-width: 980px;
    margin:auto;
}