{% extends 'GizmoBundle::Administration/administration_main.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_titles %}
<div class="bg-primary page-title">
    <div class="container-fluid">
        <h4>Edit User :: {{ user.getName() }}</h4>
    </div>
</div>
{% endblock %}




{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
